* {
	/* Xóa margin, padding và border mặc định */
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	max-width: 100%;
	display: block;
}
a {
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}
input,
button,
textarea,
select {
	font-family: inherit;
}
button {
	cursor: pointer;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f2e9d8;
	margin: 20px;
  line-height: 1.7;
}

.mains {
	width: 500px;
	margin: auto;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: white;
}

.image {
	width: 460px;
	border-radius: 5px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 20px;
}

.noiDung h2 {
	color: #0066cc;
	margin-bottom: 5px;
}

.price {
	color: #28a745;
	font-weight: bold;
	font-size: 18px;
}

.stars i {
	color: gold;
}

.danhGia {
	color: #555;
	font-size: 13px;
	margin-left: 5px;
}

.tags span {
	background: #e8f0ff;
	color: #333;
	padding: 4px 8px;
	margin: 3px;
	border-radius: 4px;
	font-size: 13px;
	display: inline-block;
}

.add-cart {
	background-color: #ff6600;
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px 0;
}

.add-cart:hover {
	background-color: #e65c00;
}

.extra span {
	display: inline-block;
	background: #eef7ff;
	padding: 5px 8px;
	margin: 3px;
	border-radius: 5px;
	font-size: 13px;
}

ul {
	list-style: none;
	padding-left: 10px;
}

ul li i {
	color: #007bff;
	margin-right: 5px;
}

.hsa {
	color: #e67e22;
}

.asd {
	color: #d12e2e;
}

.social a {
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 6px 10px;
	border-radius: 5px;
	margin-right: 5px;
	font-size: 14px;
}

.social a:nth-child(1) {
	background-color: #3b5998;
}
.social a:nth-child(2) {
	background-color: #1da1f2;
}
.social a:nth-child(3) {
	background-color: #e4405f;
}

.comment {
	width: 100%;
	height: 100px;
	padding: 8px;
	margin-top: 8px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.send {
	background-color: #007bff;
	color: white;
	border: none;
	padding: 8px 12px;
	border-radius: 5px;
	margin-top: 5px;
	cursor: pointer;
}

.send:hover {
	background-color: #0056b3;
}

.related {
	margin: auto;
  margin-top: 30px;
	width: 500px;
}

.related-item {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 8px 0;
}

.related-item img {
	width: 60px;
	height: 60px;
	border-radius: 5px;
	object-fit: cover;
}

.related-item span.price {
	color: #28a745;
	font-weight: bold;
  margin-left: 260px;
}
